<%- layout("layouts/boilerplate") %>
    <style>
        #filters {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
            flex-wrap: wrap;
        }

        .filter {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0.5rem;
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.3s;
        }

        .filter:hover {
            opacity: 1;
        }

        .filter p {
            margin: 0;
            font-weight: 500;
        }

        .filter i {
            font-size: 1.5rem;
            margin-bottom: 0.25rem;
        }
        .tax-info{
            display: none;
        }
        .tax-toggle{
            display: flex;
            align-items: center;
            font-size: large;
            border: 1px solid #ccc;
            border-radius: 1rem;
            height: 3rem;
            padding: 1.5rem;
            margin: auto 0;
        }
    </style>
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pool</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-water-ladder"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="tax-toggle ms-auto">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listings of allListings){ %>
            <a href="/listings/<%= listings.id %>" class="card-click">
                <div class="card">
                    <img src="<%= listings.image.url %>" class="card-img-top" alt="listing_image"
                        style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listings.title %>
                            </b>
                            <br>
                            &#8377;<%= listings.price.toLocaleString("en-In") %>/night 
                            <i class="tax-info">&nbsp;&nbsp;+18%&nbsp;GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>

    <script>
        let taxSwitch = document.getElementById('switchCheckDefault');
        let taxInfos = document.getElementsByClassName('tax-info');
        taxSwitch.addEventListener('click',()=>{
            for(infos of taxInfos){
                if(taxSwitch.checked){
                    infos.style.display='inline';
                }else{
                    infos.style.display='none';
                }
            }
        })
    </script>